<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vis4bridge -->
      <package
            uri="https://gitlab.com/braulioqh/vis4bridge.git"
            class="vis4bridge.Vis4bridgePackage"
            genModel="model/vis4bridge.genmodel"/>
   </extension>

</plugin>
